body {
    background-color: grey;
}

#UIPanel {
    position: absolute;
    width: 700px;
 // height: 100px;
    left: 10px;
    top: 10px;
    //background: #ffffffaa;
    padding: 5px;
}


#overlayRB {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #ffffffaa;
}

#overlayLB {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #ffffffaa;
}

#overlayRT {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #ffffffaa;
}

ground: #ffffffaa;
}

#overlayRT2 {
    position: absolute;
    right: 10px;
    top: 55px;
    background: #ffffffaa;
}

#overlayPrimitives {
    position: absolute;
    left: 30%;
    top: 10px;
}


.font
{
  color="white";
}

#overlayZoom {
    position: absolute;
    left: 79%;
    top: 10px;
   
}

#overlayPickImg {
    position: absolute;
    left: 79%;
    top: 70px;
}


#overlayMode {
    position: absolute;
    left: 2%;
    top: 10px;
    
  
}

#overlayCamera {
    position: absolute;
    left: 50%;
    top: 10px;
    
}


.color{
    color:white;
}



.slider {
    -webkit-appearance: none;
    width: 99%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: #5858FA;
    cursor: pointer;
}
/*
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #234E61;
    cursor: pointer;
}*/

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 110px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}




#InstruccionesPanel {
    position: absolute;
    width: 200px;
 // height: 100px;
    right: 10px;
    top: 10px;
    //background: #ffffffaa;
    padding: 5px;
}